<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar contrassenya</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles.css')}}"
    />
  </head>
  <body>
    <header>
      <h1>Aplicació web amb base de dades (M02-UF3-AC4)</h1>
    </header>
    <main>
        <div id="contenidor">
            <div class="contrassenya">
                <h3> Repeteix contrassenya </h3>
            </div>
        </div> 
    </main>
    <div id="validation">
        <ul>
            <li class="Codification" id="longitud"></li>
            <li class="Codification" id="mayusc"></li>
            <li class="Codification" id="minusc"></li>
            <li class="Codification" id="numeros"></li>
            <li class="Codification" id="simbols"></li>
        </ul>
    </div>
    <footer>
      <p>ETPX 2022-2023</p>
    </footer>
  </body>
</html>